<mat-accordion>
    <mat-expansion-panel class="contexto">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>note_add</mat-icon>
        </mat-panel-title>
        <mat-panel-description>
          Adicione novas tarefas.
        </mat-panel-description>
      </mat-expansion-panel-header>
      <form [formGroup]="formulario">
        <mat-form-field class="tarefa">
          <input matInput formControlName="titulo" placeholder="Tarefa" />
        </mat-form-field>
        <mat-form-field class="tarefa">
          <textarea
            matInput
            formControlName="descricao"
            placeholder="Descrição"
          ></textarea>
        </mat-form-field>
        <mat-form-field>
            <input matInput [matDatepicker]="dp2" placeholder="Previsão de conclusão" [formControl]="date">
            <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
            <mat-datepicker #dp2></mat-datepicker>
          </mat-form-field>
        <mat-action-row>
          <button
            mat-raised-button
            class="butao"
            color="primary"
            (click)="adicionaTarefa()"
            [disabled]="!formulario.valid"
          >
            Adicionar
          </button>
          <span style="width: 2px"></span>
          <button mat-raised-button class="butao" (click)="limpaCampos()">
            Limpar
          </button>
        </mat-action-row>
      </form>
    </mat-expansion-panel>
  </mat-accordion>
