<form [formGroup]="grupoFormulario">
  <div class="container">
    <mat-form-field class="campo" appearance="outline">
      <mat-label>
        Email
      </mat-label>
      <input matInput [(ngModel)]="creds.email" formControlName="email" placeholder="Email@exemplo.com">
    </mat-form-field>
    <mat-form-field class="campo" appearance="outline">
      <mat-label>
        senha
      </mat-label>
      <input matInput formControlName="senha" placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
      <mat-icon class="icon" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
    <button class="botao" type="submit" mat-raised-button color="primary" (click)="login()">Login</button>
  </div>
</form>


