.butao {
    width: 100px;
  }
  
  .card {
    width: 300px;
  }

  .status {
    margin-left: 15px;
    font-size: 15px;
  }

  .rodape {
    height: 30px;
    display: flex;
  }

  .chekbox {
    margin-right: 15px;
    font-size: 15px
  }

  .espaco {
    flex: 1 1 auto;
  }